<div class="inf">
  <p class="t1">ПАРТНЕРЫ КАФЕДРЫ "ИНФОРМАТИКА И СИСТЕМЫ УПРАВЛЕНИЯ"</p>
  <p class="t2"></p>
</div>

<div class="container">
  <div class="wrapper txt" >
    <p style="font-size: 20px;">
      <p>   Первым заведующим кафедрой был д.т.н., профессор Сапфиров Сергей Георгиевич (1972 – 1975 г.г.).
      В течение последующих 27 лет кафедру возглавлял д.т.н., профессор Сагунов Виктор Ильич (1975 - 2002 г.г.).
      С 2002г. по 2009 г. кафедру возглавлял д.т.н., профессор Бажанов Юрий Сергеевич.
      В настоящее время заведует кафедрой  д.т.н., профессор Соколова Элеонора Станиславовна.</p>

    <p>   С 1979 года на кафедре начался регулярный выпуск инженеров по специальности инженер-системотехник.</p>

      <p>   Основной вклад в становление и развитие кафедры внес Сагунов Виктор Ильич, заслуженный деятель науки и техники РФ,
    профессор, доктор технических наук, академик Академии проблем качества, известный ученый в области управления и диагностики
        сложных технических систем. Имея большой научный и практический опыт решения задач синтеза структур сложных технических систем,
        Сагунов В.И. был приглашен работать на кафедру в должности доцента, в 1975г. был избран заведующим кафедрой,
        в 1982 году защитил докторскую диссертацию на тему «Структурные методы обеспечения контролепригодности непрерывных и дискретных объектов».</p>

      <p>   Сагунов В.И. участвовал в разработке одной из первых систем управления качеством продукции на всех этапах ее жизненного цикла –
        КНАРСПИ (качество, надежность, ресурс системы с первых изделий), в соавторстве разработал ряд ГОСТов в области надежности
        и технической диагностики, является соавтором книг «КНАРСПИ сегодня» (1972г.), «Контроль основных систем изделий» (1972г.),
        «Контролепригодность структурно-связанных систем» (1990г.), «Многокритериальная оптимизация» (2001г.). Сагунов В.И.
        обладал необычайной научной и технической интуицией, сочетая качества практика, исследователя и теоретика. Обладая высоким
        научным потенциалом, он внес значительный вклад в отечественную и зарубежную науку, создал научную школу в области обеспечения
        надежности и технической диагностики, через которую прошли многие сотрудники кафедры. Им подготовлены 2 доктора и 14 кандидатов
        технических наук. Он ушел в возрасте 67 лет, оставив большое научное наследие и целую плеяду взращенных им последователей.</p>

      <p>   Первый преподавательский состав кафедры в 1972г.  состоял из 5 человек: д.т.н., профессор Сапфиров С.Г., д.т.н.,
        профессор Власов Николай Петрович, к.т.н., доцент Сагунов В.И., к.т.н., доцент Шевелев Рувим Ильич, ассистент Гаркавенко-Беляева
        Светлана Игоревна. В научно-исследовательский состав коллектива кафедры входили Андреева Галина Федоровна, Баранов Владимир Николаевич, и др.</p>

      <p>   В 1975г. состав кафедры расширился, в него влились к.т.н., доцент Бусыгин Алексей Александрович;
        ассистенты Ломакина Любовь Сергеевна, Нечаев Валентин Семенович, Салапов Александр Николаевич, Миндров Александр Евгеньевич.</p>

      <p>   Коллектив кафедры, наряду с учебной работой, активно включился в проведение научно-исследовательских работ,
        при этом большая часть исследований проводилась по хоздоговорам с крупными предприятиями и научно-исследовательскими
        организациями г.Горького (Н.Новгорода), Москвы, Ростова-на-Дону.</p>

    <p>   Наиболее крупными научно-исследовательскими работами этого периода были НИР:</p>
      <p> - «Разработка и внедрение оптимальной настройки бортового оборудования» для Горьковского авиационного
        завода (1972-1973г.г.), ответственный исполнитель которой - Зенютич Евгений Аркадьевич, в то время аспирант
        кафедры, защитивший кандидатскую диссертацию по результатам исследований.  В настоящее время Зенютич Е.А. –
        директор  НИИ энергоэффективных технологий НГТУ, генеральный директор Нижегородского инвестиционного центра
        энергоэффективности, член - корреспондент Российской инженерной академии;</p>
      <p> - «Разработка методики обследования существующей функциональной структуры технологической
        подготовки производства», «Методология выбора комплекса технических средств для автоматизированной
        системы технологического проектирования»,  «Разработка методов управления внутриванными процессами
        гальванических покрытий», «Экспериментальная отработка методов автоматического управления селективным
        нанесением гальванических покрытий» (1974г. – 1985г.), под руководством Сагунова В.И. выполненные научным
        сотрудником кафедры, ответственным исполнителем Барановым В.Н. По результатом исследований им было опубликован
        ряд печатных работ, получено авторское свидетельство, разработаны и опубликованы методические указания, используемые в учебном процессе.</p>

    <p>   Научная деятельность на кафедре приобрела новый плодотворный оттенок, когда ее научными направлениями стали:</p>
    <p> 1. Техническая диагностика сложных объектов непрерывного и дискретного действия.</p>
    <p> 2. Разработка математических моделей и методов функционирования систем летательных аппаратов.</p>

      <p>   Научными исследованиями по первому направлению плодотворно руководил зав. кафедрой Сагунов В.И.
        Активное участие в работах по этому направлению принимали ассистенты  Гаркавенко-Беляева С.И., Ломакина Л.С.,
        Нечаев В. С., Соколова Э.С., Кащеев Н.И. Результатом проведенных научных изысканий  явился ряд кандидатских
        диссертаций, защищенных по данному направлению .</p>

      <p>   Разработками второго направления руководил к.т.н.,  доцент Бусыгин А.А., активное участие в работах этого
        направления принимал ассистент кафедры Люльков Е.В., защитивший кандидатскую диссертацию по данной тематике.</p>

      <p>   Под руководством Сагунова В.И. кафедра успешно развивалась как в области подготовки специалистов,
        так и в области расширения ее научных интересов. Так, с 1985 года на кафедре началось исследование новой
        для этого периода области теории и практики синтеза контролепригодных объектов и построения процедур
        диагностирования их технического состояния. В этот период на кафедре появился ряд молодых специалистов,
        выпускников кафедры, активно включившихся в научно-исследовательскую работу и в учебный процесс -
        Соколова Э.С., Кащеев Н. И., Люльков Е. В., Титов И.И., Зиборов С. А., Сорокоумов А.В., Тимофеева О.П., Бушуева М.Е.</p>

      <p>   В результате многолетней и плодотворной научно-исследовательской работы сформировалась
        научная школа во главе с Сагуновым В.И., имеющая большую известность в научном мире. В.И.
        Сагунов обладал удивительным чутьем в подборе научных кадров. Почти все его ученики состоялись как преподаватели и научные кадры.</p>

      <p>   Одним из ярких представителей научной школы является   доцент кафедры Миндров А.Е. Придя на кафедру в 1972 году,
        Александр Евгеньевич прошел путь от инженера до доцента, защитив в 1982г. кандидатскую диссертацию в области построения
        тестов для проверки и диагностирования цифровых схем. Миндров А.Е. первым на кафедре подготовил курс лекций по
        программированию на Фортране, который читал студентам кафедры с 1981 по 1990г.</p>

      <p>   Исследования в области разработки  автоматизированной системы построения тестов цифровых систем продолжил
        Кащеев Николай Иванович, активно включившийся в научно-исследовательскую работу кафедры, будучи еще студентом 2-го курса.
        Работая ассистентом, а затем доцентом, он внес большой вклад в успешное исполнение многих НИР кафедры и развитие учебного процесса.
        Одним из первых начал применение вычислительной техники в учебном процессе. В настоящее время Кащеев Н.И. является директором НИИТ
        (Нижегородский институт информационных технологий).</p>

      <p>   Значительный вклад в развитие кафедры, совершенствование учебного процесса вносит к.т.н, доцент кафедры
        Корелин Олег Николаевич. Под его руководством на кафедре, одной из первых в НГТУ, была создана локальная сеть
        и обеспечен доступ в  Internet. Долгое время Корелин О.Н. поддерживал работу всей вычислительной и периферийной
        техники кафедры.  Корелин О.Н. активно занимается научными исследованиями в области реализации алгоритмов цифровой
        обработки сигналов в системах управления, исследованием эффективности алгоритмов распознавания речи,
        сжатия изображений и видеопотока, программной и аппаратной реализацией алгоритмов управления техническими объектами,
        алгоритмов цифровой обработки на цифровых сигнальных процессорах DSP Texas Instruments, ARM микроконтроллерах  и
        одноплатных компьютерах Beagle Bone Black (Google). Он активно привлекает к работе студентов, проводя факультативные
        занятия по направлению "Применение сигнальных процессоров и микропроцессоров в системах управления".</p>

      <p>   Выпускница кафедры Бушуева Марина Евгеньевна в настоящее время успешно совмещает преподавательскую
        работу на кафедре и должность с должностью декана факультета довузовской подготовки НГТУ.</p>

      <p>   Большой вклад в работу кафедры вносит Тимофеева Ольга Павловна, выпускница кафедры ИСУ,
        заместитель заведующего кафедрой по учебной работе, успешно выполняющая организационно-методическую работу
        по обеспечению выполнения требований государственных образовательных стандартов при формировании учебных планов
        и рабочих программ учебных дисциплин. Является замечательным преподавателем по прикладному математическому блоку
        дисциплин направлений подготовки кафедры.</p>

      <p>   Высококвалифицированными преподавателями, много сделавшими на кафедре в период  внедрения вычислительной техники в учебный процесс, являются выпускники кафедры
    Титов И.И., Сорокоумов Андрей Викторович, Зиборов С. А., Кащеев Н.И., Люльков Е.В.</p>

      <p>   C 2002 года кафедру возглавил д.т.н., профессор Юрий Сергеевич Бажанов, выпускник кафедры «Вычислительные системы
        и технологии», защитивший в 1998г. докторскую диссертацию на тему «Интеллектуальные системы логического проектирования
        TS-согласованных цифровых устройств». С приходом Бажанова Ю.С. на кафедре успешное развитие получило научное направление
        в области организации и проектирования интеллектуальных систем для синтеза сложных объектов и их технического диагностирования.
        Под его руководством кандидатскую диссертацию в этом направлении защитил преподаватель  кафедры Бухнин А.В.</p>

      <p>   В настоящее время (с. 2009г.) кафедрой заведует профессор Соколова Э.С., выпускница кафедры,
        в 2001 году защитившая докторскую диссертацию на тему «Разработка и реализация моделей, методов и
        алгоритмов решения задач синтеза контролепригодных объектов». Под ее руководством защитили кандидатские
        диссертации преподаватели, выпускники кафедры - Капранов С.Н., Степаненко М.А., Дмитриев Д.В., Волков А.С., Ляхманов Д.А., Балашова Т.И.</p>

      <p>   Доцент Степаненко М.А. является заместителем заведующего кафедрой  по  заочно-вечернему обучению,
        разработчиком и администратором сайта кафедры “Информатика и системы управления”, преподает дисциплины
        прикладного математического блока по направлениям подготовки кафедры.</p>

      <p>   Доцент Балашова Т.И. занимается обработкой информации и управлением, проектированием и нормализацией
        баз данных на уровнях MES, ERP и BI систем,  проектированием и оптимизацией надежных телекоммуникационных сетей,
        созданием концепций развития ИТ инфраструктуры и информационной безопасности предприятий. Является руководителем
        выпускных квалификационных работ и магистерских диссертаций.</p>

      <p>   На кафедре ведутся научные исследования в области проектирования  интеллектуальных информационных систем,
        компьютерного зрения, цифровой обработки информации, информационной безопасности. Создана материально-техническая
        лабораторная база для проведения НИР, включающая стенды удаленного доступа для проектирования программного
        обеспечения и использования информационных ресурсов, разработки приложений для микропроцессорных встраиваемых систем,
        разработки и испытаний систем безопасности, реализована система виртуализации, позволяющая запускать несколько ОС,
        в том числе для удаленной разработки. На кафедре активно реализуются пилотные проекты с участием студентов по
        приоритетным направлениям разработки и внедрения продуктов автоматизации управления и информационной безопасности.</p>

      <p>   На кафедре создана научно-исследовательская лаборатория «Информационная безопасность вычислительных систем и сетей»,
        организовано малое инновационное предприятие "Безопасность информационных технологий", на базе которых ведется
        сотрудничество с ведущими инновационными IT-компаниями. В 2014 г. -2015г. коллективом кафедры выполнены прикладные
        научные исследования ФЦП по теме: «Разработка и исследование технологий и программного обеспечения программно-конфигурируемых
        сетей с целью противодействия распределенным атакам типа отказ в обслуживании и перехвату данных». Сотрудники кафедры
        Ляхманов Д.А., Капранов С.Н.. Дмитриев Д.В., Кобляков Д.А. прошли курсы переподготовки кадров (520 час.)
        в КАИ-КНИТУ по программе «Комплексные системы защиты информации на предприятии».</p>

    <p>   На кафедре выросла целая плеяда талантливых молодых ученых, выпускников кафедры.</p>

      <p>   Дмитриев Д.В., к.т.н., доцент кафедры, докторант, руководит аспирантурой, выполняет работы в области разработки
        интеллектуальных решений сложно формализуемых задач. Занимается с компьютерным зрением и прогнозированием.
        Под его руководством выигран конкурс «Старт 1», по теме «Система гибридной биометрической верификации по изображению
        лица человека», проводимый фондом содействия развитию малых форм предприятий в научно-технической сфере.
        Активно руководит НИР студентов, реализуя стартапы в области IT-технологий.</p>

      <p>   Ляхманов Д.А.., к.т.н., доцент кафедры, руководитель НИЛ «Информационной безопасности вычислительных систем и сетей»
        занимается разработкой инновационных программно-аппаратных решений, приложений, сервисов, обеспечивающих безопасность
        информационных систем. Команды студентов под его руководством участвуют в Хакатонах, соревнованиях по кибербезопасности.</p>

      <p>   Доцент Голованов В.И. проектирует ИТ ландшафты и инфраструктуры (поддерживающие и перспективные) ,
        сторонник бимодального ИТ. Выявляет формат влияния ИТ систем на ключевые бизнес-процессы компании, производит формирование
        и оптимизацию каталога текущих и перспективных ИТ сервисов.На данный момент участвует и ведет часть проектов по развитию и
        модернизации подсистем CRM (B2B), BI, SCM и MDM. Бэст практики старается переносить в университетскую среду с целью формирования
        новых направлений по исследованиям.</p>

      <p>   Большой вклад в учебный процесс вносят аспиранты, ассистенты, выпускники  кафедры ИСУ Андреева О.В., Шагалова П.А.,
        Тюрин А.И., Головинская А.А., имеющие опыт практической работы в крупных IT-компаниях, активно передаваемый студентам.</p>

      <p>   Развивается направление исследований в области обработки больших данных (Big Data), ассистент кафедры Андреева О.В.
    прошла стажировку по исследовательской стипендии «Большие данные, семантика в промышленной области» в Туринском политехническом университете в 2015г.</p>

      <p>   Головинская А.А., имея большой опыт работы в реальных проектах,  активно занимается НИР студентов, в своей команде продвигая
        разработку технологий компьютерного зрения.</p>

      <p>   Тюрин А.И. занимается исследованиями в области информационной безопасности, его команда студентов участвовала в Летней школе «Развитие CTF движения России», принимала участие в соревнованиях по компьютерной безопасности QCTF Starter
    </p>

    <br><br>

    <div id="img"><img src="assets/diplomy.jpg" style="width: 600px; margin: 0 auto; text-align: center" alt=""></div>

  </div>
</div>

<a href="kaf/infkaf" title="Вернуться к началу" class="topbutton"></a>
